@()
<footer>
    <div class="footer__content footer-content subscribe-block">
        <div class="subscribe-block__text">
            Подпишитесь на рассылку, чтобы раньше узнать о концертах в своем городе и купить билеты дешевле
        </div>
        <div class="subscribe-block__form">
            <div class="subscribe-block-form__success hidden">
                Вы подписались на рассылку jazz.zaycev.net
            </div>
            <form action="">
                <input type="email" name="email" placeholder="Электронная почта" required>
                <input type="text" name="city" placeholder="Город" required>
                <input type="text" name="place" hidden value="footer">
                <button type="submit">Подписаться</button>
            </form>
        </div>
        <div class="subscribe-block__contact">
            По всем вопросам пишите на <a href="mailto:jazz@@zaycev.net">jazz@@zaycev.net</a>
        </div>
    </div>
</footer>