@()
<header>
    <div id="additional-menu">
        <div class="additional-menu__helping-div">
            <a href="http://zaycev.pro" >
                <img class="logo" src="@routes.Assets.at("images/logo.svg")" height="30"/>
            </a>
            <nav class="head__nav">
                <a class="head-nav__ele nav-link" href="/guests">
                    постоянные гости
                </a>
                <a class="head-nav__ele nav-link head-nav__stat1" href="#was">
                    как это было
                </a>
                <a class="head-nav__ele nav-link head-nav__stat1" href="#about">
                    как это будет
                </a>
                <a class="head-nav__ele head-nav__stat1" href="#for">
                    для кого
                </a>
                <a class="head-nav__ele head-nav__stat1" href="#who">
                    спикеры
                </a>
                <a class="head-nav__ele head-nav__stat1" href="#contacts">
                    контакты
                </a>
            </nav>
        </div>
    </div>
</header>